{% extends 'reseller_app/reseller_master.html' %}
{% load static %}


{% block content %}

<h1 class="ad">ADD PRODUCTS</h1><br>
<form class="form">
    <div class="form-group">
        <label for="exampleFormControlSelect1" class="lable">Category</label>
        <select class="form-control drop format" id="exampleFormControlSelect1">
          <option>Clothing</option>
          <option>Electronics</option>
          <option>Shoes</option>
          <option>Watches</option>
          <option>Jewellery</option>
      </select>
      </div>
<div class="form-group">
      <label for="exampleFormControlInput1" class="lable">Product Name</label>
      <input type="text" class="form-control format" id="exampleFormControlInput1" placeholder="">

      <label for="exampleFormControlInput1" class="lable">Product No</label>
      <input type="text" class="form-control format" id="exampleFormControlInput1" placeholder="">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1" class="lable">Product Description</label>
        <textarea class="form-control format" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1" class="lable">Price</label>
        <input type="text" class="form-control format" id="exampleFormControlInput1" placeholder="">
  
        <label for="exampleFormControlInput1" class="lable">Available Stock</label>
        <input type="text" class="form-control format" id="exampleFormControlInput1" placeholder="">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1" class="lable">Upload Image</label>
        <input type="file" id="myFile" name="filename" class="file">
        </div>
</form>

{% endblock %}